<ul class="tabs #eeeeee grey lighten-3 white-text" id="tab-bar">
        <i class="iconfont">&#xe61a;</i>
		<li class="tab col s3">
		<a  ng-class="{active:title=='刷新'}" href="#/shuaxin" ng-click=""title='刷新'"">刷新</a>
		</li>
		<i class="iconfont">&#xe678;</i>
		<li class="tab col s3">
		<a ng-class="{active:title=='视频'}" href="#/tv" "title='视频'">视频</a>
		</li>
		<i class="iconfont">&#xe64b;</i>
		<li class="tab col s3">
		<a ng-class="{active:title=='关心'}" href="#/care" "title='关心'">关心</a>
		</li>
		<i class="iconfont">&#xe606;</i>
		<li class="tab col s3">
		<a ng-class="{active:title=='我的'}" href="#/me" "title='我的'">我的</a>
		</li>
		
	</ul>