
<div class="da">
<div class="tu"></div>
<div class="shou">
	<div class="one">
		<div class="one1"></div>
		<span>收藏</span>
	</div>
	<div class="one">
		<div class="one2"></div>
		<span>夜间</span>
	</div>
	<div class="one">
		<div class="one3"></div>
		<span>设置</span>
	</div>
</div>
<div class="haoyou">
	<span>好友动态</span>
	<div class="biao"></div>
</div>
<div class="tell">
<div class="xian">
	<span>通  知</span>
	<div class="biao"></div>
	</div>
</div>
<div class="tall">
<div class="xian">
	<span>离  线</span>
	<div class="biao"></div>
	</div>
</div>
<div class="tall">
<div class="xian">
	<span>活  动</span>
	<div class="biao"></div>
	</div>
</div>
<div class="tall">
<div class="xian">
	<span>商  城</span>
	<div class="biao"></div>
	</div>
</div>
<div class="tall">
<div class="xian">
	<span>今日游戏</span>
	<div class="biao"></div>
	</div>
</div>
<div class="tall">
<div class="xian">
	<span>我要爆料</span>
	<div class="biao"></div>
	</div>
</div>
<div class="tall">
<div class="xian">
	<span>反  馈</span>
	<div class="biao"></div>
	</div>
</div>
</div>