<div class="tiao">
	 <div class="cuo">
	  <a href="#/shuaxin"><span class="cuo1"></span></a>
	 </div>
	 <div class="dao">
	 	<span>我的频道</span>
	 	<p class="bianji">编辑</p>
	 </div>
	 <ul class="ge">
	 	<li><a href="" id="jian">推荐</a></li>
		<li><a href="">房产</a></li>
	 	<li><a href="">电影</a></li>
	 	<li><a href="">育儿</a></li>
	 </ul>
	  <ul class="ge">
	 	<li><a href="">养生</a></li>
	 	<li><a href="">情感</a></li>
	 	<li><a href="">家具</a></li>
	 	<li><a href="">娱乐</a></li>
	 </ul>
	  <ul class="ge">
	 	<li><a href="">热点</a></li>
	 	<li><a href="">军事</a></li>
	 	<li><a href="">美女</a></li>
	 	<li><a href="">财经</a></li>
	 </ul>
	  <div class="dao1">
	 	<span>频道推荐</span>
	 	</div>
	 	  <ul class="ge">
	 	<li><a href="">精选</a></li>
	 	<li><a href="">政务</a></li>
	 	<li><a href="">历史</a></li>
	 	<li><a href="">探索</a></li>
	 </ul>
	   <ul class="ge">
	 	<li><a href="">故事</a></li>
	 	<li><a href="">美文</a></li>
	 	<li><a href="">搞笑</a></li>
	 	<li><a href="">星座</a></li>
	 </ul>
	   <ul class="ge">
	 	<li><a href="">文化</a></li>
	 	<li><a href="">教育</a></li>
	 	<li><a href="">科技</a></li>
	 	<li><a href="">社会</a></li>
	 </ul>
	   <ul class="ge">
	 	<li><a href="">汽车</a></li>
	 	<li><a href="">太原</a></li>
	 	<li><a href="">视频</a></li>
	 	<li><a href="">段子</a></li>
	 </ul>
	   <ul class="ge">
	 	<li><a href="">时尚</a></li>
	 	<li><a href="">数码</a></li>
	 	<li><a href="">美食</a></li>
	 	<li><a href="">收藏</a></li>
	 </ul>

</div>